<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kanji Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="frontend/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <noscript>
        <strong>Для работы сайта необходимо включить JavaScript.</strong>
    </noscript>
    <div class="ui container">
        <div id="app">
            <div class="ui segments">
                <div class="ui active inverted dimmer" v-if="loader">
                    <div class="ui text loader">Загрузка</div>
                </div>
                <div class="ui segment">
                    <div class="ui icon input">
                        <input type="text" placeholder="Поиск..." v-model="searchi">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ui top attached segment" v-if="searchi.length == 0">
                    <div class="ui grid">
                        <div class="row">
                            <div class="five wide column">
                                <div class="ui secondary vertical pointing menu">
                                    <a class="item" :class="is_active(0)" @click="go_to(0)">Суммарная статистика</a>
                                    <a class="item" v-for="(genre, gid) in genres_data" :class="is_active(gid)" @click="go_to(gid)">{{ genre.ru }}</a>
                                </div>
                            </div>
                            <kantable :activestat="active_stat" :aeobj="aobj" @searchit="searchi = $event" />
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div v-if="kanstat_data[searchi] != null">
                        <div class="ui attached center aligned segment">
                            <span class="hlyph">{{ searchi }}</span>
                            <table class="ui celled striped table">
                                <thead>
                                    <tr>
                                        <th>Категория</th>
                                        <th>№</th>
                                        <th>Употреблений</th>
                                        <th>Частотность, %</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Общая статистика</th>
                                        <th>{{ kanstat_data[searchi]["n0"] }}</th>
                                        <th>{{ kanstat_data[searchi]["0"] }}</th>
                                        <th>{{ kanstat_data[searchi]["f0"] }}</th>
                                    </tr>
                                    <tr v-for="(gdata, id) in genres_data">
                                        <th>{{ gdata["ru"] }}</th>
                                        <th>{{ kanstat_data[searchi]["n"+id] }}</th>
                                        <th>{{ kanstat_data[searchi][id] }}</th>
                                        <th>{{ kanstat_data[searchi]["f"+id] }}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ui segment bottom attached warning message" v-else>
                        <i class="warning icon"></i>
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template id="kantable">
        <div class="eleven wide column">
            <pages :pagestotal="pagescount" :current="defel" @changepage="change_page($event)" v-if="pagescount > 0"></pages>
            <table class="ui celled striped table" v-if="showob.length > 0">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Иероглиф</th>
                        <th>Употреблений</th>
                        <th>Частотность, %</th>
                        <th>Словари</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(kdata, rank) in showob" v-if="kdata != null">
                        <th>{{ rank + 1 }}</th>
                        <th class="glr" @click="$emit('searchit', kdata.glyph)">{{ kdata.glyph }}</th>
                        <th>{{ kdata.used }}</th>
                        <th>{{ kdata.freq }}</th>
                        <th>
                            <a :href="byars_link(kdata.glyph)">БЯРС</a>;
                            <a :href="jisho_link(kdata.glyph)">Jisho</a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <p v-else>К сожалению, для выбранной категории статистики пока что нет =(</p>
            <pages :pagestotal="pagescount" :current="defel" @changepage="change_page($event)" v-if="pagescount > 0"></pages>
        </div>
    </template>
    <template id="pagination">
        <div class="center">
            <div class="pages">
                <a class="item" v-if="!hasItem(1)" @click="$emit('changepage', 1)">1</a>
                <a class="item disabled" v-if="!hasItem(2)">...</a>
                <a class="item" v-for="p in pages" :class="pagestyle(p)" @click="$emit('changepage', p)">
                    {{ p }}
                </a>
                <a class="item disabled" v-if="!hasItem(pagestotal-1)">...</a>
                <a class="item" v-if="!hasItem(pagestotal)" @click="$emit('changepage', pagestotal)">{{pagestotal}}</a>
            </div>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    <script src="frontend/js/main.js"></script>
</body>

</html>